@font-face {
    font-family: "TTNorms";
    src: url("../fonts/TTNorms-Regular.woff") format("openType");
}
@font-face {
    font-family: "TTNorms Medium";
    src: url("../fonts/TTNorms-Medium.woff") format("openType");
}
@font-face {
    font-family: "TTNorms Light";
    src: url("../fonts/TTNorms-Light.woff") format("openType");
}


html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}
body {
    font-family: "TTNorms";
    background-color: #fff;
    max-width: 115rem;
    margin-right: auto;
    margin-left: auto;
}
input,button{
    font-family: inherit;
    border: none;
    outline: none;
}
button:hover{
    transform: scale(1.1);
    cursor: pointer;

}
.container{
    max-width: 95rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 3rem;
    padding-left: 3rem;

}
.header{

    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 0;
}
.header-logo{
    font-size: 1.6rem;
    font-weight: normal;
}
.header-menu{
    display: flex;
    gap: 4rem;
    font-size: 1.2rem;
    text-decoration: none;
    
}
.header-item{
    text-decoration: none;
    color: black;
}
.header-item:hover{
    opacity: 0.7;
    text-shadow: -1px 1px 6px #00e6b5;
    cursor: pointer;
}

.header-btn{
    font-size: 1.2rem;
    padding: 1rem 2rem;
    border-radius: 1.2rem;
    background-color: #00e6b5;
    box-shadow: none;
    color: #fff;
    transition: all 200ms ease;
}

.main{
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    gap: 10rem;
}
.main-text{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
    gap: 2rem;
    margin-bottom: 10rem;
    font-family: "TTNorms Medium";
    font-weight: bold;
}
.title-main{
    display: flex;
    font-size: 3rem;
    font-weight: bolder;
    align-items: center;
    gap: 1rem;

}
.corona-title-main{
    color: #00e6b5;
}
.virus-title-main{
    color: #003268;
}
.text-main{
    color: #9E9E9E;
    line-height: 1.8rem;
}
.buttons-main{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.button-item{
    font-size: 1rem;
    padding: 1rem 3rem;
    border-radius: 1.6rem;
    background-color: #00e6b5;
    box-shadow: none;
    color: #fff;
    transition: all 200ms ease;
    border: 3px solid #00e6b5;
}
.button-item:last-child{
    background-color: #fff;
    border: 3px solid #00e6b5;
    color: #00e6b5;
    padding: 1rem 3.6rem;
}

.main-img{
    width: 100%;
}
.main-img-item{
    width: 100%;
    padding: 0 2rem 3rem 2rem;
    box-shadow: -3px -4px 9px #00e6b5;
    border-radius: 34rem;
}
.main-img-item:hover{
    opacity: 0.6;
    box-shadow:-6px -2px 9px #757575;
}
.statistics{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    height: 50%;
}
.statistics-title{
    color: #00E6B5;
    font-weight: bold;
    font-size: 2.3em;
    margin:50px 0 0 0 ;
}
.statistics-grid{
    display: grid;
    grid-template-columns: repeat(5 , 1fr);
    grid-template-rows: repeat(2,1fr);
    width: 100%;
    height: 100%;
    gap: 10px;
    margin: 20px 0 30px 0;
}
.statistics-select{
    grid-column: 1/4;
    grid-row: 1/2;
    display: flex;
    gap: 2rem;
    align-items: center;
}
.dropdown-country{
    width: 40%;
}
.select-country,.select-date{
    font-size: 1.3rem;
    border-radius: 55px;
    box-shadow: 1px 1px 6px #d6c8c8;
    border: 2px solid rgba(137, 128, 128, 0.25);
    width: 100%;
    height: 60px;
    color: #757575;
    padding: 0 56px;
    appearance: none;
    background-color: rgba(0, 0, 0, 0);
    background-position-x: 0%;
    background-position-y: 0%;
    background-repeat: repeat;
    background-attachment: scroll;
    background-image: url(../icons/ca.svg), url(../icons/slector.svg);
    background-size: auto;
    background-origin: padding-box;
    background-clip: border-box;
    background-position: 5% 53%, 93% 50%;
    background-repeat: no-repeat;
    background-size: 30px 30px;
    margin: 0 5px;
}
.dropdown-date{
    align-items: center;
    width: 40%;

}
.select-date{
    background-image: url(../icons/date.svg), url(../icons/slector.svg);
   
}
.statistics-btn{
    width: 19%;
    height: 60px;
    cursor: pointer;
    font-weight: bolder;
    font-size: 1.05em;
    border-radius: 50px;
    border: none;
    outline: none;
    background-color: #00E6B5;
    color: #FDFDFD;
    margin: 0 5px;
    transition:all 0.2s ease ;
}

.selector-btn:hover{
    transform: scale(1.03);
}
.statistics-today{
    grid-column: 4/6;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
    width: 100%;
    padding: 0rem 0rem 3rem 3rem;
    box-shadow: -5px -2px 14px #dddddddb;
    border-radius: 1.5rem;
}
.statistics-today-text{
    color: #003268;
    font-size: 1em;
    font-weight: bold;
    border-bottom: #e2e2e2 solid 2px;
    width: 100%;
    padding: 15px 0;
    margin-bottom: 15px;
}
.statistics-today-number{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
    color: #00E6B5;
}
.diff-item1,.diff-item2{
    color: #003268;
}
.diff-item3{
    color: #FFA000;
}
.item-today1{
    grid-column: 1/2;
    grid-row: 1/2;
}
.item-today2{
    grid-column: 2/3;
    grid-row: 1/2;
}
.item-today3{
    grid-column: 1/2;
    grid-row: 2/3;
}
.item-today4{
    grid-column: 2/3;
    grid-row: 2/3;
}

.statistics-today-number > div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    width: 100%;
    height: 100%;
}
.statistics-today-number > div > p{
    font-size: 1em;
    font-weight: bold;
    margin: 5px 0;
}
.statistics-number{
    grid-column: 1/4;
    grid-row: 2/3;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.statistics-number-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.2rem;
    gap: 1.5rem;
    font-weight: bold;
    color: #00e6b5;
}
.statistics-number-item>p{
    margin: 0;
}
.statistics-number-item> p:first-child{
    color: #0065d1;
}

.chart {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin: 6rem 0;
  }
  
.chart-title {
    font-size: 3rem;
    font-weight: bolder;
    color: #00e6b5;
  }
  
.chart-info {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 2rem;
    width: 100%;
    padding: 1rem;
  }
  
.total-cases-wrapper {
    display: flex;
    flex-direction: row;
    flex: 2;
    gap: 2rem;
  }
  
.total-cases {
    display: flex;
    flex-direction: column;
    box-shadow: 2px 4px 20px #c4c4c4a6;
    border-radius: 2rem;
    gap: 1rem;
    padding: 1rem;
  }
  
.total-cases p {
    font-size: 1.1rem;
    font-weight: bold;
    color: #0065d1;
    margin: 0;
  }
  
.total-cases canvas {
    width: 100%;
    height: 250px;
  }
  
.wordwide {
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 2rem;
    box-shadow: 2px 4px 20px #c4c4c4;
    border-radius: 2rem;
    min-width: 200px;
  }
  
.wordwide-title p {
    font-size: 1.1rem;
    font-weight: bold;
    color: #003268;
    margin: 0;
  }
  
.wordwide-info {
    border-top: 3.5px #dcd5d5b8 solid;
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
  }
  
.wordwide-item {
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: bold;
    color: #00e6b5;
    gap: 2rem;
  }
  
.wordwide-item p {
    margin: 0;
  }
  
.wordwide-item p:first-child {
    color: #003268;
   }

.orders-country{
    display: flex;
    flex-direction: column;
    gap: 3rem;
    box-shadow: 2px 4px 20px #c4c4c4;
    border-radius: 2rem;
    padding: 3rem 2rem;
}
.order-country-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin: 10px 0;
}
.order-country-title{
    font-size: 2rem;
    font-weight: bolder;
    color: #0065d1;
}
.order-btn{
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 1rem 3rem;
    border-radius: 4.2rem;
    background-color: #00e6b5;
    box-shadow: none;
    color: #fff;
    transition: all 200ms ease;
}
.order-country-info{
    width: 100%;
}
.order-country-info > table {
    text-align: left;
    width: 100%;
    border-collapse: collapse;
  }
.order-country-thaed{
    border-bottom: #ebebebe0 solid 1px;
}
.order-country-thaed > th {
    padding: 10px 0px;
  }
.order-country-tbody{
    border-bottom: #ababab77 solid 2px;
}  
.order-country-tbody > td {
    color: #5a5a5a;
    padding: 10px 0px;
}
.order-country-tbody > td > img{
    height: 28px;
    width: 28px;
    border-radius: 100%;
}
.order-country-tbody > td:last-child {
    text-align: right;
}
.order-country-tbody > td:first-child {
    display: flex;
    align-items: center;
    gap: 2rem; 
}
.order-country-thaed > th > img {
    height: 28px;
    width: 28px;
    border-radius: 100%;
    background-color: #00e6b5;
}
.order-country-thaed > th:first-child {
    display: flex;
    align-items: center;
    gap: 2rem;
}
.order-country-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
.order-country-btn>button{
    font-size: 1.2rem;
    font-weight: bolder;
    padding: 1rem 3rem;
    border-radius: 4.2rem;
    background-color: #00e6b5;
    box-shadow: none;
    color: #fff;
    transition: all 200ms ease;
}
.blog-countainer{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-bottom: 4rem;
    gap: 3rem;
}
.blog-title{
    font-size: 3rem;
    font-weight: bolder;
    color: #00e6b5;
}
.blogs{
    height: 100%;
    display: grid;
    grid-template-columns: 31rem auto auto;
    grid-template-rows: auto auto;
    gap: 1.2rem;
    position: relative;

}
.blog-1{
    grid-column: 1/2;
    grid-row: 1/3;
    background-image: url(../image/blogimage/firstimage.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5rem;
    position: relative;
    border-radius: 25px;
}
.blog-info{
    padding: 4rem 4rem 0rem 1rem;
    z-index: 2;
    color: #fff;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.blog-topic{
    font-size: 0.8rem;
    font-weight: bold;
}
.blog-data{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.bloggers{
    font-weight: 500;
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}
.blog-background{
    width: 100%;
    height: 100%;
    background: rgb(25, 25, 25);
    background: linear-gradient(19deg, rgb(19 19 19) 0%, rgb(80 80 80 / 75%) 45%, rgba(255, 0, 0, 0) 100%);
    border-radius: 25px;
    cursor: pointer;
    position: absolute;
}
.blog-2{
    grid-column: 2/3;
    grid-row: 1/2;
    background-image:url(../image/blogimage/blogimage2.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5rem;
    position: relative;
    border-radius: 25px;
}
.blog-3{
    grid-column: 3/4;
    grid-row: 1/2;
    background-image: url(../image/blogimage/blogimage3.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5rem;
    position: relative;
    border-radius: 25px;
}
.blog-4{
    grid-column: 2/3;
    grid-row: 2/3;
    background-image: url(../image/blogimage/blogimage4.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5rem;
    position: relative;
    border-radius: 25px;
}
.blog-5{
    grid-column: 3/4;
    grid-row: 2/3;
    background-image: url(../image/blogimage/blogimage5.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 0.5rem;
    position: relative;
    border-radius: 25px;
    
}
.blogs>div:hover{
    cursor: pointer;
    box-shadow: 3px 0px 20px #00e6b5;
    transition: 300ms ease-in 20ms ;
}
.around-blog1::after{
    content: "";
    background-color: #00e6b5;
    height: 9rem;
    width: 11rem;
    border-radius: 2rem;
    position: absolute;
    top: -2rem;
    left: -2rem;
    z-index: -1;

}
.around-blog2::after{
    content: "";
    background-color: #00e6b5;
    height: 9rem;
    width: 11rem;
    border-radius: 2rem;
    position: absolute;
    bottom: -1rem;
    right: -2rem;
    z-index: -1;
}
.footer{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    font-size: 1.3rem;
    gap: 4rem;
    margin-bottom: 7rem;
}
.footer-menu{
    display: flex;
    flex-direction: column;
    width: 50rem;
    gap: 2rem;
    color: #00e6b5;
}
.footer-menu>a{
    text-decoration: none;
    color: #003268;
    
}
.footer-menu>a:hover{
        opacity: 0.7;
        text-shadow: -1px 1px 6px #00e6b5;
        cursor: pointer;
}
.footer-menu>p{
    border-bottom: 3px #75757561 solid;
    height: 3rem;
    font-weight: bold;
    margin: 0;
}
.footer-about-us{
    display: flex;
    flex-direction: column;
    color: #003268;
    line-height: 2.2rem;
    gap: 2rem;
}
.footer-about-us>span{
    border-bottom: 3px #75757561 solid;
    height: 3rem;
    font-weight: bold;
    color: #00e6b5;
}
.footer-email{
    display: flex;
    flex-direction: row;
    height: 18rem;
    gap: 1rem;
    align-items: self-start;
}
.footer-email-input{
    width: 22rem;
    height: 4rem;
    border-radius: 3rem;
    border: 2px solid #7575753c;
    padding: 1rem 1rem 1rem 4rem;
    font-size: 1.3rem;
    background-image: url(../icons/icons8-email-50.png);
    background-size: 2.2rem 2.2rem;
    background-position: 1.5rem 0.7rem, 18rem 0.7rem;
    background-repeat: no-repeat , no-repeat;
    background-color: white;
}
.footer-email>button{
    font-size: 1rem;
    padding: 1rem 3rem;
    border-radius: 1.6rem;
    background-color: #00e6b5;
    box-shadow: none;
    color: #fff;
    transition: all 200ms ease;
    border: 3px solid #00e6b5;
}



@media only screen and (max-width: 1200px) {
    .container {
        max-width: 100%;
    }
    .main{
        gap: 2rem;
    }
    .total-cases-wrapper {
        flex: 1.5;
      }
      .wordwide {
        flex: 1;
      }
      .total-cases{
        max-width: 17rem;
        
      }
    .blogs{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto auto;
        gap: 1rem;
    }
    .blog-1{
        grid-column: 1/2;
        grid-row: 1/3;
    }
    .blog-2{
        grid-column: 2/3;
        grid-row: 1/2;
    }
    .blog-3{
        grid-column: 1/2;
        grid-row: 3/4;
    }
    .blog-4{
        grid-column: 2/3;
        grid-row: 2/3;
    }
    .blog-5{
        grid-column: 2/3;
        grid-row: 3/4;
    }
    .around-blog2::after {
        bottom: -1rem;
    }
    .footer-email-input{
        width: auto;
    }
    .footer-email>button {
        padding: 1rem;
    }
        
}
@media only screen and (max-width: 992px) {
    .container {
        max-width: 90%;
        margin: 2rem;
    }
    .header-menu{
        gap: 3rem;
    }
    .header-btn{
        display: none;
    }
    .main{
        gap: 0;
        flex-direction: column-reverse;
    }
    .main-img{
        width: 70%;
    }
    .main-text{
        margin-bottom: 3rem;
    }
    .buttons-main{
        gap: 2rem;
    }
    .statistics-select{
        gap: 0.5rem;
    }
    .dropdown-country,.dropdown-date{
        width: 40%;
    }
    .statistics-number-item{
        font-size: 1rem;
    }
    .total-cases{
        width: 100%;
    }
    .total-cases canvas {
        height: 220px;
      }
    .chart-info{
        flex-wrap: wrap;
      }
    .total-cases-wrapper {
        flex-direction: row;
        justify-content: center;
        width: 45rem;
        width: -webkit-fill-available;
    }
    
    .blogs{
        grid-template-columns: auto auto;
    }
    .footer{
        flex-wrap: wrap;
        gap: 2rem;
    }
    .footer-menu{
        gap: 1rem;
    }
    .footer-about-us{
        gap: 0rem;
    }
    .footer-email{
        height: 100%;
    }
    .select-country{
        font-size: 1rem;
        padding: 0 38px;
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
        background-origin: padding-box;
        background-clip: border-box;
        background-position: 5% 53%, 93% 50%;
        background-repeat: no-repeat;
        background-size: 32px 18px;
    }
    .select-date{
        font-size: 1rem;
        padding: 0 38px;
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
        background-origin: padding-box;
        background-clip: border-box;
        background-position: 5% 53%, 93% 50%;
        background-repeat: no-repeat;
        background-size: 32px 18px;
    }
}  
@media only screen and (max-width: 768px) {
    .container {
        max-width: 100%;
    }
    .header-menu{
        gap: 1rem;
    }
    .header-logo{
        display: none;
    }
    .header{
        justify-content: center;
    }
    .statistics-today{
        padding-left: 1rem;
    }
   
    .statistics-grid{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    
    .statistics-select {
        grid-column: 1 / 4;
        grid-row: 1 / 2;
    }
    .statistics-number {
        grid-column: 1 / 4;
        grid-row: 2 / 3;
    }
    .statistics-today {
        grid-column: 1 / 4;
        grid-row: 3 / 4;
    }
    .chart-info {
        flex-direction: column;
      }
      .total-cases-wrapper {
        flex-direction: column;
      }
      .wordwide {
        width: 100%;
      }
    .order-country-info {
        overflow-x: scroll;
    }
    .blog-countainer{
        height: auto;
    }
    .blogs{
        grid-template-columns: 50% auto;
    }
    .around-blog2::after {
        bottom: -3rem;
        right: -5rem;
    }
    .footer-email-input{
        width: 100%;
    }
   
    .chart-info {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
      }
      #chart1, #chart2 {
        width: 368px !important;
        height: 250px !important;
    }
    .chart-total-cases{
        flex-direction: column;
    }
      .total-cases-wrapper {
        flex-direction: column;
        width: 100%;
        gap: 2rem;
      }
    
      .total-cases,
      .wordwide {
        max-width: none;
      }
    
      .total-cases {
        padding: 1.5rem;
        width: -webkit-fill-available;
      }
    
      .wordwide {
        padding: 2rem;
      }
      
  
}
@media only screen and (max-width: 576px) {
    .container {
        max-width: 100%;
        margin: 0;
    }
    .header{
        justify-content: center;
    }
    
    .header-menu{
        gap: 0.8rem;
        font-size: 0.9rem;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-evenly;
    }
    .main-text{
        margin-top: 2rem;
    }
    .title-main{
        flex-direction: column;
        gap: 0;
        align-items: start;
    }
    .main-img{
        width: 100%;
    }
    .title-main>p{
        margin: 0;
    }
    .buttons-main{
        flex-direction: column;
    }
    .statistics-grid{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
   .statistics-number{
        flex-wrap: wrap;
        gap: 1rem;
        height: 50%;
   }
   .statistics-select{
        flex-direction: column;
        gap: 0.7rem;
   }
   .dropdown-country,.dropdown-date,.statistics-btn{
        width: 100%;
   }
   
   .select-date,.select-country{
        padding: 0 55px;
        background-size: 30px 30px;
    }
  
    .chart-info {
        flex-direction: row;
        overflow-x: auto;
        gap: 1rem;
    }
  
    #chart1, #chart2 {
        width: 290px !important;
        height: 183px !important;
    }
    .order-country-header{
        gap: 0.6rem;
    }
    .order-btn{
        padding: 1rem 1rem;
        width: 100%;
    }
    .order-country-info{
        overflow-x: scroll;
    }
    .order-country-info > table {
        width: 40rem;
    }
    .blogs{
        display: flex;
        flex-direction: column;
        height: auto;
        margin: 0;

    }
    .blog-1{
        height: 25rem;
    }
    .around-blog2::after {
        bottom: 0rem;
    }
 
}